h1{
    padding-left: 20px;
}  
h2{
    padding-left: 20px;   
}
#green{
    color: greenyellow;
    padding-left: 20px;
}
#lightblue{
    color: lightblue;
    padding-left: 20px;
}
#blue{
    color: blue;
    padding-left: 20px;
}
#red{
    color: red;
    padding-left: 20px;
}
img{
    padding-left: 20px;
}
p{
    padding-left: 20px;
    color:brown;
}
#cv{
    padding-left: 20px;
    color: blue;
}
#mn{
    padding-left: 20px;
    color: blue;
}
a{
    color: blue;
}